[submodule "centos"]
	path = centos
	url = https://github.com/mkandes/centos.git
[submodule "centos-cuda"]
	path = centos-cuda
	url = https://github.com/mkandes/centos-cuda.git
[submodule "centos-cuda-openmpi"]
	path = centos-cuda-openmpi
	url = https://github.com/mkandes/centos-cuda-openmpi.git
[submodule "centos-mvapich"]
	path = centos-mvapich
	url = https://github.com/mkandes/centos-mvapich.git
[submodule "centos-openmpi"]
	path = centos-openmpi
	url = https://github.com/mkandes/centos-openmpi.git
[submodule "ubuntu"]
	path = ubuntu
	url = https://github.com/mkandes/ubuntu.git
[submodule "ubuntu-cuda"]
	path = ubuntu-cuda
	url = https://github.com/mkandes/ubuntu-cuda.git
[submodule "ubuntu-cuda-openmpi"]
	path = ubuntu-cuda-openmpi
	url = https://github.com/mkandes/ubuntu-cuda-openmpi.git
[submodule "ubuntu-mvapich"]
	path = ubuntu-mvapich
	url = https://github.com/mkandes/ubuntu-mvapich.git
[submodule "ubuntu-openmpi"]
	path = ubuntu-openmpi
	url = https://github.com/mkandes/ubuntu-openmpi.git
